<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aiganym is best</title>
</head>
<body>

<h1>The most important thing</h1>

<strong>ZHANA KUN ZHANA MUMKINDIKTER</strong>


<h2>Universities </h2>

<h3>Ankara University</h3>


<p>Pros:</p>
<ul>
    <li>The roots of the Ankara University, Faculty of Law can be traced back to the Ankara Judicial School of Law
        (“Ankara Adliye Hukuk Mektebi”), which was established upon the initiative of the then Minister of Justice,
        Mahmut Esat Bozkurt, and inaugurated by Kemal Atatürk on 5 November 1925.
    </li>
    <li>It's in the capital</li>
    <li>One of the best universities</li>
</ul>


</body>
</html>